# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
myenv/
neurobench/
py312env/
.env/

# Distribution / packaging
*.egg-info/
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

#files
monkey_*
*_bin*